table {
  width: 100%;
}

.card-spacing{
  padding: 1%;
  margin: 3% 5%;
}
.card-search-spacing{
  margin: 1% 5%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.bg-color{
  background-color: palegreen;
}

